<%- include('./layouts/head.ejs') %>

<body class="gradient-custom-2" style="background-image: url('/images/bg.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100">

        <div class="col-lg-6 col-xl-6 offset-xl-1" style="border: 1px solid #000; padding:100px; box-shadow:#000 2px 2px 2px 2px">
          <form action="/changePassword" method="post">
            <!-- Confirm password 1 input -->
            <div class="form-group mb-4">
              <label class="form-label" for="confirm1">Nhập mật khẩu mới</label>
              <input type="password" name="confirm1" id="confirm1" class="form-control form-control-lg" />

            </div>

            <!-- Confirm password 2 input -->
            <div class="form-group mb-4">
              <label class="form-label" for="confirm2">Xác nhận mật khẩu mới</label>
              <input type="password" name="confirm2" id="confirm2" class="form-control form-control-lg" />

            </div>
            <% if(error){ %>
            <!-- <div class="alert alert-danger mb-3"> -->
            <div class="text-danger text-left"><i>
                <%= error %></i>
            </div>
            <%}%> <br>
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-lg " style="background: #000; color:#fff">Xác nhận</button>
                                    <a href="/" class="btn btn-muted btn-lg  " >Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>

    </html><script>
        setTimeAutoClosing(".alert-danger", 3000);
    </script>