<%- include('./layouts/head.ejs') %>

<body>
  <div class="wrapper">
    <%- include('./layouts/user_navbar.ejs') %>
    <div class="main-panel">
      <section class="vh-100 gradient-custom-2" style="background-image: url('/images/bg.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
        <div class="container py-5 h-100">
          <div class="row d-flex align-items-center justify-content-center h-100">
            <div class="col-lg-6 col-xl-6 offset-xl-1" style="background-color: #ffffff94;border: 1px solid #7c7979; padding:100px; box-shadow:#7c7979 2px 2px 2px 2px">
              <h2 style="text-align: center; color:#e48e8f;">ĐỔI MẬT KHẨU</h2>
              <form action="/user/changePassworduser" method="post">
                <!-- Password cũ -->
                <div class="form-group mb-4">
                  <label class="form-label" for="oldpass">Nhập mật khẩu cũ</label>
                  <input type="password" name="oldpass" id="oldpass" class="form-control form-control-lg" />

                </div>
                <!-- Confirm password 1 input -->
                <div class="form-group mb-4">
                  <label class="form-label" for="confirm1">Nhập mật khẩu mới</label>
                  <input type="password" name="confirm1" id="confirm1" class="form-control form-control-lg" />

                </div>

                <!-- Confirm password 2 input -->
                <div class="form-group mb-4">
                  <label class="form-label" for="confirm2">Xác nhận mật khẩu mới</label>
                  <input type="password" name="confirm2" id="confirm2" class="form-control form-control-lg" />

                </div>
                <% if(error){ %>
                <!-- <div class="alert alert-primary mb-3 text-center" id="alert-message"> -->
                <div class="text-danger text-left"><i>
                    <%= error %></i>
                </div>
                <%}%> <br>
                <!-- Submit button -->
                <button type="submit" class="btn btn-primary btn-lg gradient-custom" style="background:#000; color:#fff">Xác
                    nhận</button>
              </form>
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</body>
    <script src="/js/main.js"></script>

    </html>

    <script>
        setTimeAutoClosing(".alert-danger", 3000);
    </script>