<%- include('./layouts/head.ejs') %>

<body>
  <div class="wrapper">
    <%- include('./layouts/user_navbar.ejs') %>
    <div class="main-panel">
      <div class="bgimg " style="background-image: url('/images/bg3.webp'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover; ">
        <div class="alert alert-primary alert-dismissible fade show text-center" role="alert">

          <strong>TÀI KHOẢN CỦA BẠN ĐANG TRONG QUÁ TRÌNH XÁC THỰC</strong> <br>
          <span>
            <i> Bạn tạm thời không thể sử dụng các chức năng của hệ thống</span>
        </div>

        <!-- <div class="middle" style="background: #000;">
                            <h1></h1>
                            <p></p>                           
                        </div>
                       -->
      </div>
    </div>
  </div>
</body>

</html>