<%- include('./layouts/head.ejs') %>

<body class="gradient-custom-2" style="background-image: url('/images/bg.jpg'); height: 100%; background-position: center; background-repeat: no-repeat; background-size: cover;">
  <section class="vh-100">
    <div class="container py-5 h-100">
      <div class="row d-flex align-items-center justify-content-center h-100 ">

        <div class=" col-lg-6 col-xl-6 offset-xl-1" style=" padding:100px;box-shadow: 2px 2px 20px 2px black; border-radius: 2px ;">
          <h4 class="text-center mt-1 mb-5 pb-1">QUÊN MẬT KHẨU</h4>

          <form action="/resetPassword" method="post">


            <!-- Confirm password 1 input -->
            <div class="form-group mb-4">
              <label class="form-label" for="email">Địa chỉ E-Mail</label>
              <input type="email" name="email" id="email" class="form-control form-control-lg" required="" />

            </div>

            <!-- Confirm password 2 input -->
            <div class="form-group mb-4">
              <label class="form-label" for="phone">Số điện thoại</label>
              <input type="text" name="phone" id="phone" class="form-control form-control-lg" required="" />

            </div>
            <% if(error){ %>
            <div class="alert alert-danger mb-3">

              <%= error %>
            </div>
            <%}%>
                                    <!-- Submit button -->
                                    <button type="submit" class="btn btn-primary btn-lg "  style="background: #000; color: #fff;">Xác nhận</button>
                                    <a href="/" class="btn btn-primary btn-lg  " style="background: #000; color: #fff;">Hủy</a>
                        </form>
                    </div>
                </div>
            </div>
        </section>
    </body>

    </html>
    <script>
        setTimeAutoClosing(".alert-danger", 3000);
    </script>